<!-- <div *ngIf="videos">
  <div
    *ngFor="let item of videos"
    class="w-100 flex cursor-pointer gap-2 mb-3 hover:bg-gray-100"
  >
    <div class="" [ngStyle]="{ width: '15rem', height: '12rem' }">
      <img class="h-auto w-full" src="{{ item.thumbnail_url }}" />
    </div>
    <div class="" [ngStyle]="{ width: '15rem' }">
      <div class="font-bold line-clamp-2">{{ item.title }}</div>
      <div class="mt-1 text-sm text-gray-500 line-clamp-1">
        <span>{{ item.channel }} </span>
      </div>
    </div>
  </div>
</div>
 -->
