<div class="flex gap-4">
  <div
    class="flex pb-1 items-center cursor-pointer border-b-4 hover:border-primary-500 hover:text-primary-800"
    [ngClass]="{
      ' border-primary-800 text-primary-800': searchType === 'web',
      ' border-transparent': searchType !== 'web'
    }"
    (click)="changeSearchType('web')"
  >
    <fa-icon
      class="h-6 pr-1 text-gray-500 cursor-pointer"
      [icon]="faSearch"
    ></fa-icon>
    <p>Web</p>
  </div>
  <div
    class="flex pb-1 items-center cursor-pointer border-b-4 hover:border-primary-500 hover:text-primary-800"
    [ngClass]="{
      ' border-primary-800 text-primary-800': searchType === 'image',
      ' border-transparent': searchType !== 'image'
    }"
    (click)="changeSearchType('image')"
  >
    <fa-icon
      class="h-6 pr-1 text-gray-500 cursor-pointer"
      [icon]="faImage"
    ></fa-icon>
    <p>Images</p>
  </div>
  <div
    class="flex pb-1 items-center cursor-pointer border-b-4 hover:border-primary-500 hover:text-primary-800"
    [ngClass]="{
      ' border-primary-800 text-primary-800': searchType === 'video',
      ' border-transparent': searchType !== 'video'
    }"
    (click)="changeSearchType('video')"
  >
    <fa-icon
      class="h-6 pr-1 text-gray-500 cursor-pointer"
      [icon]="faVideo"
    ></fa-icon>
    <p>Videos</p>
  </div>
</div>
